.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}
#statetable{
  overflow-y:scroll;
  height:550px;

}
